ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  margin: 0;
  padding: 0;
}

.node-tree > ul {
  display: flex;
  justify-content: center;
}

.node-tree > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.node-tree > ul > li > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.node-tree > ul > li > ul > li {
  margin: 0.5rem;
}
